@font-face {
    font-family: NTSomic;
    src: url(Fonts/Webfonts/NTSomic-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: Regular;
}

@font-face {
    font-family: NTSomic;
    src: url(Fonts/Webfonts/NTSomic-Semibold.woff2) format(woff2);
    font-weight: 600;
    font-style: Semibold;
}

@font-face {
    font-family: Kudry;
    src: url(Fonts/Webfonts/kudry_weird-headline.woff2) format(woff2);
    font-weight: 400;
    font-style: Regular;
}
  
.page-body{
      background-color: rgb(255, 255, 255);
      font-family: "NTSomic";
  }
  
.frame{
    width: 100%;
    max-width: 1020px;
    margin: auto;
  }
  
.main-header{
    color: white;
}

.main-container{
    width: 1020px;
}

.site-logo{
    margin-left: -5px;
    box-sizing: border-box;
    font-family: Kudry;
    font-size: 48px;
}

.main-menu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: auto;
    gap: 33px;
    font-family: NTSomic;
    font-weight: 400;
    font-size: 19px;

}

.main-icons{
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
  }


.title-logo-container{
    justify-content: center;
}
  
.title-logo{
    margin-top: 314px;
    max-height: 180px;
    height: 100%;
    font-family: Kudry;
    font-size: 196px;
    letter-spacing: -6px;
    color: white;
}

.title-description{
    width: 450px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 16px;

}



.main-wrapper{
    width: 1020px;
    padding: 30.8px 56px 0px;
    margin: auto;
    height: 650px;
    background-image: url(Img/bakground.jpg);
}

p{
    line-height: 22px;
}

img{
    display: block;
    padding: 0;
    margin: 0;
    
} 
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 1;}

    a{
        text-decoration: none;
        color: white;
    }

.collection-frame{
    padding: 52px 50px 30px;
    margin-bottom: 2px;

}

.collection-link{
    color: #1d3fff;
    margin-left: 5px;
}
.collection-name{
    font-size: 34px;
    text-indent: .85ch;
    margin-left: -.8ch;
    margin-right: 46px;
    line-height: 37px;
    font-weight: 600;
    max-width: 288px;
    width: 100%;
    padding: 0;    
}

.collection-titel{
    padding-top: 2px;
    font-size: 16px;   
    margin-right: 118px;
}

.content-item{
    padding: 0px 53px 0px;
    gap: 23px;
}

.item-photo{
    margin-bottom: 12px;
}

.price {
    gap: 11px;
    }

.previous-price{
    color: rgb(255, 61, 0);
}

.item-description{
    margin-top: 10px;
    margin-bottom: 2px;
    margin-bottom: 0;
} 

s{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 61, 0, .25);
    text-decoration-thickness: 0.1px;
}

.collection-link{
    color: #1d3fff;
    flex-wrap: nowrap; 
    gap: 10px;
    margin-top: auto;
    align-items: center;
    gap: 8px;
    line-height: 0.5rem;
}


.link-item{
    color: black;
}

section{
    margin: 0;
    padding: 0;
}


footer{
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 49px 54px 50px;
    background-color: rgb(221, 221, 221, 0.25);
    
}

.footer-nav ul li+li {
    margin-top: 17px;
}


ul{
    list-style: none;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
}
.social-link{
    align-items: center;
    gap: 20px;
}


.contact-mail{
    font-size: 22pt;
    letter-spacing: -.2px;
    text-align: right;
    line-height: 0.5rem;
    color: black;
    border: 0.5px solid green;
}

.social-contact{
    margin-top: 14px;
    text-align: right;
    font-size: 16px;
    color: rgb(158, 158, 158);
}


.flex{
    display: flex;

}

.w-25-link{
    color: black;
}


.collection-link:hover{
    text-decoration: none;
    color: rgb(255, 61, 0); 

}

.w-25-link:hover{
    text-decoration: none;
    color: rgb(255, 61, 0); 

}
